body {
    background-color: lightgrey;
    background-image: url("billeder/Kyster1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}
@font-face {
    font-family: text1;
    src: url(NeutraTextTF-Book.otf);
}

h1{
    font-family: text1;
    display:inline; 
    word-spacing: 30px;

}